<div class="top">
  <p>image</p>
  <h1>ROOMEEへようこそ！</h1>
  <p>おしゃれな部屋をシェアしちゃおう！</p>
</div>
<div class="contents">
  <div class="sign-in-buttons">
    <a href="">アカウント作成</a>
    <a href="">twitterログイン</a>
  </div>
</div>